<div class="page">
    <div class="timeline-container">
        <div class="timeline">

            <div class="timeline-item left">
                <div class="content">
                    <h3>2024</h3>
                    <p>Test Eintrag 1</p>
                </div>
            </div>

            <div class="timeline-item right">
                <div class="content">
                    <h3>2023</h3>
                    <p>Test Eintrag 2</p>
                </div>
            </div>

            <div class="timeline-item left">
                <div class="content">
                    <h3>2022</h3>
                    <p>Test Eintrag 3</p>
                </div>
            </div>

            <div class="timeline-item left">
                <div class="content">
                    <h3>2022</h3>
                    <p>Test Eintrag 3</p>
                </div>
            </div>

            <div class="timeline-item left">
                <div class="content">
                    <h3>2022</h3>
                    <p>Test Eintrag 3</p>
                </div>
            </div>

            <div class="timeline-item left">
                <div class="content">
                    <h3>2022</h3>
                    <p>Test Eintrag 3</p>
                </div>
            </div>

            <div class="timeline-item left">
                <div class="content">
                    <h3>2022</h3>
                    <p>Test Eintrag 3</p>
                </div>
            </div>

        </div>
    </div>
</div>