<div class="section experience-page">
    <div class="container-custom">
        <h1 class="mb-5">Erfahrung</h1>
        <div class="timeline-container">
            <div class="timeline">
                <div class="timeline-item left">
                    <div class="content">
                        <span class="timeline-date">seit März 2026</span>
                        <h3>Softwareentwicklerin</h3>
                        <p class="company">Indamed GmbH</p>
                        <ul>
                            <li>C++-Entwicklung im medizinischen Umfeld</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-item right">
                    <div class="content">
                        <span class="timeline-date">September 2023 – Februar 2026</span>
                        <h3>Master Medieninformatik</h3>
                        <p class="company">TH Lübeck</p>
                        <ul>
                            <li>Masterarbeit: Entwicklung eines spezialisierten Ensemble-Systems zur robusten Deepfake-Erkennung auf Bildbasis</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-item left">
                    <div class="content">
                        <span class="timeline-date">2021 – 2026</span>
                        <h3>Softwareentwicklung (Werkstudentin / Junior)</h3>
                        <p class="company">adesso SE</p>
                        <ul>
                            <li>Entwicklung von Webanwendungen mit Angular und TypeScript</li>
                            <li>Mitarbeit an Backend-Services mit Spring Boot</li>
                            <li>Erstellung automatisierter Tests mit Cypress und Selenium</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-item right">
                    <div class="content">
                        <span class="timeline-date">Oktober 2018 – Oktober 2022</span>
                        <h3>Bachelor Informatik</h3>
                        <p class="company">Universität Rostock</p>
                        <ul>
                            <li>Bachelorarbeit: Constraint-basierte Detektion komplexer Ereignisse in partitionierten Datenströmen</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-item left">
                    <div class="content">
                        <span class="timeline-date">Juni 2018</span>
                        <h3>Abitur</h3>
                        <p class="company">GSZ Stralendorf</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>