<h1>Erfahrung</h1><div>

<div class="page">
<div class="timeline-container">
        <div class="timeline">

            <div class="timeline-item left">
                <div class="content">
                    <h3>seit März 2026</h3>
                    <p class="fw-bold">Softwareentwicklerin Indamed GmbH</p>
                    <p>C++-Entwicklung</p>
                </div>
            </div>

            <div class="timeline-item right">
                <div class="content">
                    <h3>September 2023 - Februar 2026</h3>
                    <p class="fw-bold">Masterstudium Medieninformatik an der TH Lübeck</p>
                    <p>Masterarbeit: Entwicklung eines spezialisierten Ensemble-Systems zur robusten Deepfake-Erkennung auf Bildbasis</p>
                </div>
            </div>

            <div class="timeline-item left">
                <div class="content">
                    <h3>September 2023 - Februar 2026</h3>
                    <p class="fw-bold">Werkstudentin Softwareentwicklung adesso SE</p>
                    <p>Web-Entwicklung mit Angular und TypeScript</p>
                    <p>Backend-Entwicklung mit Spring Boot</p>
                </div>
            </div>

            <div class="timeline-item left">
                <div class="content">
                    <h3>November 2022 - August 2023</h3>
                    <p class="fw-bold">Junior Softwareentwicklerin adesso SE</p>
                    <p>Web-Entwicklung mit Angular und TypeScript</p>
                    <p>Backend-Entwicklung mit Spring Boot</p>
                </div>
            </div>

            <div class="timeline-item right">
                <div class="content">
                    <h3>Oktober 2018 - Oktober 2022</h3>
                    <p class="fw-bold">Bachelorstudium Informatik an der Uni Rostock</p>
                    <p>Bachelorarbeit: Constraint-basierte Detektion komplexer Ereignisse in partitionierten Datenströmen</p>
                </div>
            </div>

            <div class="timeline-item left">
                <div class="content">
                    <h3>Februar 2022 - Oktober 2022</h3>
                    <p class="fw-bold">Werkstudentin Softwareentwicklung adesso SE</p>
                    <p>Web-Entwicklung mit Angular und TypeScript</p>
                    <p>Backend-Entwicklung mit Spring Boot</p>
                </div>
            </div>

            <div class="timeline-item left">
                <div class="content">
                    <h3>September 2021 - Januar 2022</h3>
                    <p class="fw-bold">Praktikantin Softwareentwicklung adesso SE</p>
                    <p>automatisierte e2e-Tests mit Selenium und Cypress</p>
                </div>
            </div>

            <div class="timeline-item right">
                <div class="content">
                    <h3>Juni 2018</h3>
                    <p>Abitur am GSZ Stralendorf "Felix Stillfried"</p>
                </div>
            </div>

        </div>
    </div>
</div>