<div class="container d-flex flex-column justify-content-center align-items-start">
    <h1>Kontakt aufnehmen</h1><div>
    <span class="fw-bold">Email: </span>
    <a href="mailto:sophie.herstein@outlook.de">
        sophie.herstein&#64;outlook.de
    </a>
</div>

    <div>
        <span class="fw-bold">GitHub: </span>
        <a href="https://github.com/sophieHerstein" target="_blank" rel="noopener noreferrer">
            github.com/sophieHerstein
        </a>
    </div>

    <div>
        <span class="fw-bold">LinkedIn: </span>
        <a href="https://www.linkedin.com/in/sophie-h-a30643404" target="_blank" rel="noopener noreferrer">
            linkedin.com/in/sophie-h-a30643404
        </a>
    </div></div>